<a href="https://colab.research.google.com/github/RebekkalPangras/Hackerrank/blob/master/Hackerrank30DayChallenge.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. Task
Given a string, S, of length N that is indexed from 0 to N-1, print its even-indexed and odd-indexed characters as 2 space-separated strings on a single line (see the Sample below for more detail).

Note: 0 is considered to be an even index.

Example:
S = adbecf
Print abc def

In [ ]:
n = int(input())
for _ in range(n):
    w = input()
    a, b = "", ""
    counter = 0
    for letter in w:
        if counter == 0:
            a += letter
            counter += 1 
        else:
            b += letter
            counter -= 1
    print(a, b)

1
adbecf
abc def

2. Task
Given an array,A, of n integers, print A's elements in reverse order as a single line of space-separated numbers.

Example

A=[1,2,3,4]

Print 4 3 2 1. Each integer is separated by one space.

In [ ]:
#!/bin/python3

import math
import os
import random
import re
import sys



if __name__ == '__main__':
    n = int(input().strip())

    arr = list(map(int, input().rstrip().split()))
    for element in arr[::-1]:
        print(element, end = " ")

    # for element in reversed(arr):
    #   print(element, end = " ")

4
4 3 2 1
1 2 3 4

## Day 8

Task
Given n names and phone numbers, assemble a phone book that maps friends' names to their respective phone numbers. You will then be given an unknown number of names to query your phone book for. For each name queried, print the associated entry from your phone book on a new line in the form name=phoneNumber; if an entry for name is not found, print Not found instead.

Sample Input

  3

  sam 99912222

  tom 11122222

  harry 12299933

  sam

  edward

  harry

Sample Output

  sam=99912222

  Not found
  
  harry=12299933

In [1]:
n = int(input())
phonebook = {}
for _ in range(n):
    key, value = input().split()
    phonebook[key] = value

query = input()
while query != None:
    if query in phonebook:
        print(query+"="+phonebook[query])
    else:
        print("Not found")
    try:
        query = input()
    except:
        break

3
sam 99912222
tom 11122222
harry 12299933
sam
sam=99912222
edward
Not found
harry
harry=12299933

Not found

Not found