<a href="https://colab.research.google.com/github/RebekkalPangras/Hackerrank/blob/master/Hackerrank30DayChallenge.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Day 4

Given a string, S, of length N that is indexed from 0 to N-1, print its even-indexed and odd-indexed characters as 2 space-separated strings on a single line (see the Sample below for more detail).
Note: 0 is considered to be an even index.

Example: S = adbecf 

Print abc def

In [ ]:
n = int(input())
for _ in range(n):
    w = input()
    a, b = "", ""
    counter = 0
    for letter in w:
        if counter == 0:
            a += letter
            counter += 1 
        else:
            b += letter
            counter -= 1
    print(a, b)

5
a b c d e f
abcdef
dfgstsrgdhdgvt
dgtrddv fssghgt
fgfg
ff gg
dzf
df z
fxbxb
fbb xx

## Day 5


Given an array,A, of n integers, print A's elements in reverse order as a single line of space-separated numbers.

Example

A=[1,2,3,4]

Print 4 3 2 1. Each integer is separated by one space.

In [ ]:
#!/bin/python3

import math
import os
import random
import re
import sys



if __name__ == '__main__':
    n = int(input().strip())

    arr = list(map(int, input().rstrip().split()))
    for element in arr[::-1]:
        print(element, end = " ")

    # for element in reversed(arr):
    #   print(element, end = " ")

4
4 3 2 1
1 2 3 4

## Day 6

Given a string, S, of length N that is indexed from 0 to N-1, print its even-indexed and odd-indexed characters as 2 space-separated strings on a single line (see the Sample below for more detail).

Note: 0 is considered to be an even index.

Example:
S = adbecf
Print abc def

In [ ]:
n = int(input())
for _ in range(n):
    w = input()
    a, b = "", ""
    counter = 0
    for letter in w:
        if counter == 0:
            a += letter
            counter += 1 
        else:
            b += letter
            counter -= 1
    print(a, b)

1
adbecf
abc def

## Day 7

Task
Given an array,A, of n integers, print A's elements in reverse order as a single line of space-separated numbers.

Example

A=[1,2,3,4]

Print 4 3 2 1. Each integer is separated by one space.

In [ ]:
#!/bin/python3

import math
import os
import random
import re
import sys



if __name__ == '__main__':
    n = int(input().strip())

    arr = list(map(int, input().rstrip().split()))
    for element in arr[::-1]:
        print(element, end = " ")

    # for element in reversed(arr):
    #   print(element, end = " ")

4
4 3 2 1
1 2 3 4

## Day 8

Task
Given n names and phone numbers, assemble a phone book that maps friends' names to their respective phone numbers. You will then be given an unknown number of names to query your phone book for. For each name queried, print the associated entry from your phone book on a new line in the form name=phoneNumber; if an entry for name is not found, print Not found instead.

Sample Input

  3

  sam 99912222

  tom 11122222

  harry 12299933

  sam

  edward

  harry

Sample Output

  sam=99912222

  Not found
  
  harry=12299933

In [ ]:
n = int(input())
phonebook = {}
for _ in range(n):
    key, value = input().split()
    phonebook[key] = value

query = input()
while query != None:
    if query in phonebook:
        print(query+"="+phonebook[query])
    else:
        print("Not found")
    try:
        query = input()
    except:
        break

3
sam 99912222
tom 11122222
harry 12299933
sam
sam=99912222
edward
Not found
harry
harry=12299933

Not found

Not found

## Day 9

Recursive Method for Calculating Factorial

In [ ]:
#!/bin/python3

import math
import os
import random
import re
import sys

#
# Complete the 'factorial' function below.
#
# The function is expected to return an INTEGER.
# The function accepts INTEGER n as parameter.
#

def factorial(n):
    # Write your code here
    if n == 1:
        return n
    else:
        return n*factorial(n-1)

n = int(input().strip())
result = factorial(n)
print(result)

100
93326215443944152681699238856266700490715968264381621468592963895217599993229915608941463976156518286253697920827223758251185210916864000000000000000000000000

## Day 10: Binary Numbers

Task

Given a base-10 integer, n, convert it to binary (base-2). Then find and print the base-10 integer denoting the maximum number of consecutive 1's in n's binary representation. When working with different bases, it is common to show the base as a subscript.

Example

The binary representation of 125 is 1111101. In base 10, there are 5 and 1 consecutive ones in two groups. Print the maximum, 5.

In [ ]:
#!/bin/python3

import math
import os
import random
import re
import sys



if __name__ == '__main__':
    n = int(input().strip())
    b_n = bin(n).split('b')[1]
    initial_count = 0 
    count = 0
    for digit in list(b_n):
        if digit == '1':
            count += 1
        else:
            if count > initial_count:
                initial_count = count
            count = 0
    if count > initial_count:
        print(count)
    else:
        print(initial_count)

125
5

## Day 11: 2D Arrays

Sample Input

1 1 1 0 0 0
0 1 0 0 0 0
1 1 1 0 0 0
0 0 2 4 4 0
0 0 0 2 0 0
0 0 1 2 4 0
Sample Output

19


Explanation

A contains the following hourglasses:

1 1 1   1 1 0   1 0 0   0 0 0

  1       0       0       0

1 1 1   1 1 0   1 0 0   0 0 0


0 1 0   1 0 0   0 0 0   0 0 0

  1       1       0       0

0 0 2   0 2 4   2 4 4   4 4 0


1 1 1   1 1 0   1 0 0   0 0 0

  0       2       4       4

0 0 0   0 0 2   0 2 0   2 0 0


0 0 2   0 2 4   2 4 4   4 4 0

  0       0       2       0

0 0 1   0 1 2   1 2 4   2 4 0


The hourglass with the maximum sum (19) is:

2 4 4
  2
1 2 4

In [ ]:
#!/bin/python3

import math
import os
import random
import re
import sys



if __name__ == '__main__':

    arr = []

    for _ in range(6):
        arr.append(list(map(int, input().rstrip().split())))
        
    iter_count = len(arr[0])-2
    for i in range(iter_count):
        for j in range(iter_count):
            new_sum = arr[i][j] + arr[i][j+1] + arr[i][j+2] + arr[i+1][j+1] + arr[i+2][j] + arr[i+2][j+1] + arr[i+2][j+2]
            if i == 0 and j == 0:
                initial_sum = new_sum
            if new_sum > initial_sum:
                initial_sum = new_sum
        
    print(initial_sum)

-1 -1 0 -9 -2 -2
-2 -1 -6 -8 -2 -5
-1 -1 -1 -2 -3 -4
-1 -9 -2 -4 -4 -5
-7 -3 -3 -2 -9 -9
-1 -3 -1 -2 -4 -5
-6

## Day 12: Inheritance

You are given two classes, Person and Student, where Person is the base class and Student is the derived class. Completed code for Person and a declaration for Student are provided for you in the editor. Observe that Student inherits all the properties of Person.

![image.png]()

In [ ]:
class Person:
	def __init__(self, firstName, lastName, idNumber):
		self.firstName = firstName
		self.lastName = lastName
		self.idNumber = idNumber
	def printPerson(self):
		print("Name:", self.lastName + ",", self.firstName)
		print("ID:", self.idNumber)

class Student(Person):
    #   Class Constructor
    #   
    #   Parameters:
    #   firstName - A string denoting the Person's first name.
    #   lastName - A string denoting the Person's last name.
    #   id - An integer denoting the Person's ID number.
    #   scores - An array of integers denoting the Person's test scores.
    #
    # Write your constructor here
    def __init__(self, firstName, lastName, idNumber, scores):
        Person.__init__(self, firstName, lastName, idNumber)
        self.scores = scores

    #   Function Name: calculate
    def calculate(self):
        totalScore= sum(self.scores)
        avg = totalScore/len(scores)
        if avg >= 90:
            return 'O'
        elif avg >= 80:
            return 'E'
        elif avg >= 70:
            return 'A'
        elif avg >= 55:
            return 'P'
        elif avg >= 40:
            return 'D'
        else:
            return 'T'
            
    #   Return: A character denoting the grade.
    #
    # Write your function here

line = input().split()
firstName = line[0]
lastName = line[1]
idNum = line[2]
numScores = int(input()) # not needed for Python
scores = list( map(int, input().split()) )
s = Student(firstName, lastName, idNum, scores)
s.printPerson()
print("Grade:", s.calculate())

Heraldo Memelli 8135627
2
40 90
Name: Memelli, Heraldo
ID: 8135627
Grade: P

## Day 13: Abstract Classes

Given a Book class and a Solution class, write a MyBook class that does the following:

 1. Inherits from Book
 2. Has a parameterized constructor
 3. Implements the Book class' abstract display() method

In [ ]:
from abc import ABCMeta, abstractmethod
class Book(object, metaclass=ABCMeta):
    def __init__(self,title,author):
        self.title=title
        self.author=author   
    @abstractmethod
    def display(): pass

#Write MyBook class
class MyBook(Book):
    def __init__(self, title, author, price):
        Book.__init__(self, title, author)
        self.price = price
        
    def display(self):
        print("Title:", self.title)
        print("Author:", self.author)
        print("Price:", self.price)

title=input()
author=input()
price=int(input())
new_novel=MyBook(title,author,price)
new_novel.display()

Let's talk money
Monika Halan
250
Title: Let's talk money
Author: Monika Halan
Price: 250

## Day 14: Scope



Complete the Difference class by writing the following:
* A class constructor that takes an array of integers as a parameter and saves it to the  instance variable.
* A computeDifference method that finds the maximum absolute difference between any  numbers in  and stores it in the  instance variable.

In [ ]:
class Difference:
    def __init__(self, a):
        self.__elements = a

    # Add your code here
    def computeDifference(self):
        a = sorted(self.__elements)
        self.maximumDifference = a[-1]-a[0]
    

# End of Difference class

_ = input()
a = [int(e) for e in input().split(' ')]

d = Difference(a)
d.computeDifference()

print(d.maximumDifference)

3
1 5 3
4

## Day 15: Linked List

In [ ]:
class Node:
    def __init__(self,data):
        self.data = data
        self.next = None 
class Solution: 
    def display(self,head):
        current = head
        while current:
            print(current.data,end=' ')
            current = current.next

    def insert(self,head,data): 
    #Complete this method
        if head == None:
            return Node(data)
        elif head.next == None:
            head.next = Node(data)
        else:
            self.insert(head.next,data)
        return head

mylist= Solution()
T=int(input())
head=None
for i in range(T):
    data=int(input())
    head=mylist.insert(head,data)    
mylist.display(head);

4
2
3
1
7
2 3 1 7

## Day 16: Exceptions - String to Integer

In [ ]:
#!/bin/python3

import math
import os
import random
import re
import sys



# if __name__ == '__main__':
S = input()
try:
    print(int(S))
except:
    print("Bad String")

erwe
Bad String

## Day 17: More Exceptions

Write a Calculator class with a single method: int power(int,int). The power method takes two integers, n and p, as parameters and returns the integer result of n power p. If either n or p is negative, then the method must throw an exception with the message: n and p should be non-negative

In [ ]:
class Calculator:
    def power(self, n, p):
        if n<0 or p<0:
            raise Exception("n and p should be non-negative")
        else:
            return n**p

myCalculator=Calculator()
T=int(input())
for i in range(T):
    n,p = map(int, input().split())
    try:
        ans=myCalculator.power(n,p)
        print(ans)
    except Exception as e:
        print(e)

3
1 4
1
3 9
19683
-1 7
n and p should be non-negative

## Day 18: Queues and Stacks

### Palindrome

In [ ]:
import sys

class Solution:
    # Write your code here
    def __init__(self):
        self.queue = []
        self.stack = []
    
    def pushCharacter(self, element):
        self.stack.append(element)
    
    def popCharacter(self):
        return self.stack.pop(-1)
    
    def enqueueCharacter(self, element):
        self.queue.append(element)
    
    def dequeueCharacter(self):
        return self.queue.pop(0)
    

# read the string s
s=input()
#Create the Solution class object
obj=Solution()   

l=len(s)
# push/enqueue all the characters of string s to stack
for i in range(l):
    obj.pushCharacter(s[i])
    obj.enqueueCharacter(s[i])
    
isPalindrome=True
'''
pop the top character from stack
dequeue the first character from queue
compare both the characters
''' 
for i in range(l // 2):
    if obj.popCharacter()!=obj.dequeueCharacter():
        isPalindrome=False
        break
#finally print whether string s is palindrome or not.
if isPalindrome:
    print("The word, "+s+", is a palindrome.")
else:
    print("The word, "+s+", is not a palindrome.")

madam
The word, madam, is a palindrome.

## Day 19: Interfaces

Complete the implementation of Calculator class, which implements the AdvancedArithmetic interface. The implementation for the divisorSum(n) method must return the sum of all divisors of n

In [ ]:
class AdvancedArithmetic(object):
    def divisorSum(n):
        raise NotImplementedError

class Calculator(AdvancedArithmetic):
    def divisorSum(self, n):
        divisor_sum = 0
        for i in range(1, n+1):
            if n%i == 0:
                divisor_sum += i
        return divisor_sum


n = int(input())
my_calculator = Calculator()
s = my_calculator.divisorSum(n)
print("I implemented: " + type(my_calculator).__bases__[0].__name__)
print(s)

6
I implemented: AdvancedArithmetic
12

## Day 20: Sorting

Bubble sort

In [ ]:
#!/bin/python3

import math
import os
import random
import re
import sys



if __name__ == '__main__':
    n = int(input().strip())

    a = list(map(int, input().rstrip().split()))

    # Write your code here
    num_swaps = 0
    for i in range(len(a)):
        for j in range(i, len(a)):
            if a[i] > a[j]:
                temp = a[i]
                a[i] = a[j]
                a[j] = temp
                num_swaps += 1
    print('Array is sorted in',num_swaps,'swaps.')
    print('First Element:', a[0])
    print('Last Element:', a[len(a)-1])

5
9 4 5 0 2
Array is sorted in 8 swaps.
First Element: 0
Last Element: 9

## Day 21: Generics

Generics was allowed to be done in Java


    import java.util.*;

    class Printer <T> {

        /**
        *    Method Name: printArray
        *    Print each element of the generic array on a new line. Do not return anything.
        *    @param A generic array
        **/
        
        // Write your code here
        void printArray(T[] arr) {
            for (T element: arr) {
                System.out.println(element);
            }
        }

    }

    public class Generics {
        
        public static void main(String args[]){
            Scanner scanner = new Scanner(System.in);
            int n = scanner.nextInt();
            Integer[] intArray = new Integer[n];
            for (int i = 0; i < n; i++) {
                intArray[i] = scanner.nextInt();
            }

            n = scanner.nextInt();
            String[] stringArray = new String[n];
            for (int i = 0; i < n; i++) {
                stringArray[i] = scanner.next();
            }
            
            Printer<Integer> intPrinter = new Printer<Integer>();
            Printer<String> stringPrinter = new Printer<String>();
            intPrinter.printArray( intArray  );
            stringPrinter.printArray( stringArray );
            if(Printer.class.getDeclaredMethods().length > 1){
                System.out.println("The Printer class should only have 1 method named printArray.");
        }
      } 
    }

OUTPUT:

    Input (stdin)
    3
    1
    2
    3
    2
    Hello
    World

    Expected Output
    1
    2
    3
    Hello
    World

## Day 22: Binary Search Trees

The height of a binary search tree is the number of edges between the tree's root and its furthest leaf. You are given a pointer, root, pointing to the root of a binary search tree. Complete the getHeight function provided in your editor so that it returns the height of the binary search tree.

In [ ]:
class Node:
    def __init__(self,data):
        self.right=self.left=None
        self.data = data
class Solution:
    def insert(self,root,data):
        if root==None:
            return Node(data)
        else:
            if data<=root.data:
                cur=self.insert(root.left,data)
                root.left=cur
            else:
                cur=self.insert(root.right,data)
                root.right=cur
        return root

    def getHeight(self,root):
        #Write your code here
        if root == None:
            return -1
        return 1 + max(self.getHeight(root.left), self.getHeight(root.right))
T=int(input())
myTree=Solution()
root=None
for i in range(T):
    data=int(input())
    root=myTree.insert(root,data)
height=myTree.getHeight(root)
print(height)

4
1
2
3
4
3

## Day 23: BST Level-Order Traversal

In [ ]:
import sys

class Node:
    def __init__(self,data):
        self.right=self.left=None
        self.data = data
class Solution:
    def insert(self,root,data):
        if root==None:
            return Node(data)
        else:
            if data<=root.data:
                cur=self.insert(root.left,data)
                root.left=cur
            else:
                cur=self.insert(root.right,data)
                root.right=cur
        return root

    def levelOrder(self,root):
        #Write your code here
        queue = [root]
        while len(queue)>=1:
            cur = queue.pop(0)
            print(cur.data, end = " ")
            if cur.left: queue.append(cur.left)
            if cur.right: queue.append(cur.right)

T=int(input())
myTree=Solution()
root=None
for i in range(T):
    data=int(input())
    root=myTree.insert(root,data)
myTree.levelOrder(root)

6
3
5
4
7
2
1
3 2 5 1 4 7

## Day 24: More Linked Lists


removeDuplicates in a sorted list

In [ ]:
class Node:
    def __init__(self,data):
        self.data = data
        self.next = None 
class Solution: 
    def insert(self,head,data):
            p = Node(data)           
            if head==None:
                head=p
            elif head.next==None:
                head.next=p
            else:
                start=head
                while(start.next!=None):
                    start=start.next
                start.next=p
            return head  
    def display(self,head):
        current = head
        while current:
            print(current.data,end=' ')
            current = current.next

    def removeDuplicates(self,head):
        curr = head
        while curr.next != None:
            # print(curr.data, curr.next.data)
            if curr.data == curr.next.data:
                temp = curr.next
                curr.next = temp.next
            else:
              curr = curr.next
        return head

mylist= Solution()
T=int(input())
head=None
for i in range(T):
    data=int(input())
    head=mylist.insert(head,data)    
head=mylist.removeDuplicates(head)
mylist.display(head);

7
1
1
1
1
1
1
1
1

## Day 25: Running Time and Complexity

Prime number

In [ ]:
def is_prime(n, div):
    if n%div == 0 and n!=div:
        print('Not prime')
        return
    if n==div:
        print('Prime')
        return
    if n%div !=0:
        is_prime(n, div+1)

T = int(input())
for _ in range(T):
    n = int(input())
    if n < 2:
        print('Not prime')
    else:
        is_prime(n, 2)

3
2
Prime
5
Prime
6
Not prime

## Day 26: Nested Logic

Task
Your local library needs your help! Given the expected and actual return dates for a library book, create a program that calculates the fine (if any). The fee structure is as follows:

  1. If the book is returned on or before the expected return date, no fine will be charged (i.e.: fine=0.
  2. If the book is returned after the expected return day but still within the same calendar month and year as the expected return date,fine = 15*days .
  3. If the book is returned after the expected return month but still within the same calendar year as the expected return date, the fine = 500*months.
  4. If the book is returned after the calendar year in which it was expected, there is a fixed fine of

In [ ]:
return_day, return_month, return_year = map(int,input().split())
expected_day, expected_month, expected_year = map(int,input().split())

if return_year<expected_year:
    print(0)
elif return_year>expected_year:
    print(10000)
else:
    if return_month > expected_month:
        print(500*(return_month-expected_month))
    else:
        if return_day > expected_day:
            print(15*(return_day-expected_day))
        else:
            print(0)

9 6 2015
6 6 2014
10000

## Day 27: Testing

In [1]:
def minimum_index(seq):
    if len(seq) == 0:
        raise ValueError("Cannot get the minimum value index from an empty sequence")
    min_idx = 0
    for i in range(1, len(seq)):
        if seq[i] < seq[min_idx]:
            min_idx = i
    return min_idx

class TestDataEmptyArray:
    @classmethod
    def get_array(cls):
        return []
    
class TestDataUniqueValues:
    @classmethod
    def get_array(cls):
        return [1,2,3]
    
    @classmethod
    def get_expected_result(cls):
        return 0
    
class TestDataExactlyTwoDifferentMinimums():
    @classmethod
    def get_array(cls):
        return [1,1,2]
    
    @classmethod
    def get_expected_result(cls):
        return 0
    

def TestWithEmptyArray():
    try:
        seq = TestDataEmptyArray.get_array()
        result = minimum_index(seq)
    except ValueError as e:
        pass
    else:
        assert False


def TestWithUniqueValues():
    seq = TestDataUniqueValues.get_array()
    assert len(seq) >= 2

    assert len(list(set(seq))) == len(seq)

    expected_result = TestDataUniqueValues.get_expected_result()
    result = minimum_index(seq)
    assert result == expected_result


def TestiWithExactyTwoDifferentMinimums():
    seq = TestDataExactlyTwoDifferentMinimums.get_array()
    assert len(seq) >= 2
    tmp = sorted(seq)
    assert tmp[0] == tmp[1] and (len(tmp) == 2 or tmp[1] < tmp[2])

    expected_result = TestDataExactlyTwoDifferentMinimums.get_expected_result()
    result = minimum_index(seq)
    assert result == expected_result

TestWithEmptyArray()
TestWithUniqueValues()
TestiWithExactyTwoDifferentMinimums()
print("OK")

OK